<div class="modal" id="Delay" tabindex="-1" role="dialog" aria-labelledby="vDelayLabel" aria-hidden="true"  ng-controller="DelayCtrl">
    <div class="panel panel-default delay-modal-panel-container">
        <div class="panel-heading">
            <div class="modal-header">
                <div class="pull-right">
                    <button type="button" class="close" ng-click="$hide()">&times;</button>
                </div>
                <h4 class="modal-title" id="vDelayLabel">Delay Inform
                </h4>
            </div>
        </div>
        <div class="panel-body">
            <table class="table apply-panel-table">
                <tr ng-show = "status == 'Anchoring' || status == 'Voyaging'">
                    <td><span class="input-group-addon input-lg">Delay:</span></td>
                    <td><input type="number" class="form-control input-lg" ng-model="dx" placeholder="请输入关键字"
                               value=0></td>
                </tr>
                <tr>
                    <td><span class="input-group-addon input-lg">Postpone:</span></td>
                    <td><input type="number" class="form-control input-lg" ng-model="dy"placeholder="请输入关键字"
                               value=0></td>
                </tr>
            </table>
            <hr style="margin-top: 2px; ">
            <button type="button" class="btn btn-primary pull-right delay-btn-right" ng-click="setDxy()">Ok
            </button>
        </div>
    </div>
</div>
